<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <p class="container" v-if="bestScore !== 0 && !isActive">Best score: {{ bestScore }} turns</p>
      <p v-else-if="isActive" class="container">Current turn: {{ turns + 1 }}</p>
      <div v-if="isActive">
        <section id="monster" class="container">
            <h2>Monster Health</h2>
            <div class="healthbar">
              <div class="healthbar__value" :style="monsterBarStyles"></div>
            </div>
          </section>
          <section id="player" class="container">
            <h2>Your Health</h2>
            <div class="healthbar">
              <div class="healthbar__value" :style="playerBarStyles"></div>
            </div>
          </section>
          <div v-if="isActive && !winner" id="game-controls">
            <section id="controls">
                <button @click="attackMonster">Attack</button>
                <button :disabled="canUseSpecialAttack" @click="specialAttackMonster">Special attack</button>
                <button :disabled="canUseHeal" @click="heal">Heal</button>
                <button @click="surrender">Surrender</button>
              </section>
          </div>
          <div v-else-if="isActive && winner">
            <div class="container">
                <h2>{{ result }}</h2>
                <section id="controls">
                    <button @click="start">Start new game</button>
                    <button @click="isActive=false">Quit</button>
                </section>
            </div>
          </div>
          <section id="log" class="container">
            <h2>Battle Log</h2>
            <ul>
                <li v-for="(log, index) in logs">
                    <span>Turn {{ Math.ceil((logs.length - index) / 2) }}: </span>
                    <span :class="getActionTarget(log.actionBy)">{{ log.actionBy + ' '}} </span>
                    <span> {{ log.actionType }} for </span>
                    <span :class="getActionType(log.actionType)">{{ log.actionValue +' ' }} </span>
                    <span>points.</span>
                </li>
            </ul>
          </section>
      </div>
      <div v-else>
        <section id="controls">
            <button @click="start">Start game</button>
        </section>
      </div>
    </div>
  </body>
</html>
